<meta charset="utf-8">
<title>CS61A OH Queue</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Mobile-specific -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Fonts -->
<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

<!-- Skeleton CSS Framework -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skeleton.css') }}">

<!-- App-specific CSS frameworks -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nprogress.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/offline-js/0.7.17/themes/offline-theme-default.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/offline-js/0.7.17/themes/offline-language-english.css">

<!-- Javascript frameworks -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/offline-js/0.7.17/offline.js"></script>
<script src="{{ url_for('static', filename='js/nprogress.js') }}"></script>

<!-- Socket IO client script -->
<script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
