{% extends "default.html" %}
{% from "macros.html" import render_entry %}
{% block body %}

<div class="queue-container container">
  <section class="header row">
    <div class="seven columns">
      <h4><b>CS61A</b> Office Hour Queue</h4>
      <h6>Evans B4</h6>
    </div>
    <div class="five columns ta-info">
      <h6><b>CS61Awesome Staff</b></h6>
                        <h6>{{ date.strftime("%A, %B %d %Y") }}</h6>
    </div>
  </section>

    <div class="heading title row">
      <div class="two columns">Name</div>
      <div class="three columns">Queue Time</div>
      <div class="two columns">Location</div>
      <div class="two columns">Type</div>
      <div class="three columns">Assignment</div>
      <div class="two columns">Question</div>
    </div>
  </section>

  <div class="queue" id="queue">
    {% for entry in entries %}
      {{ render_entry(entry, assist=true) }}
    {% endfor %}
  </div>

  <h4>Resolved</h4>
  <div class="queue" id="resolved">
  </div>

</div>
<script src="{{ url_for('static', filename='js/client/assist.js') }}"></script>
{% endblock %}
