{% extends "default.html" %}

{% block body %}
<div class="container">
  <h1>Request Help</h1>
  <form method="POST">
    <div class="row">
      <div class="four columns">
        <label for="location">Location</label>
        <!-- TODO: configure locations -->
        <select class="u-full-width" id="location" name="location">
          <option>109 Morgan Hall</option>
          <option>237 Cory Hall</option>
          <option>241 Cory Hall</option>
        </select>
      </div>
      <div class="four columns">
        <label for="assignment">Assignment</label>
        <input class="u-full-width" type="text" name="assignment" id="assignment" required>
      </div>
      <div class="four columns">
        <label for="question">Question</label>
        <input class="u-full-width" type="number" name="question" id="question">
      </div>
    </div>
    <div class="row">
      <input class="button-primary" type="submit" value="Submit">
      <a class="button" href="{{ url_for('index') }}">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
