{% extends "default.html" %}

{% block body %}
<div class="container">
  <h1>Request Help</h1>
  <form method="POST">
    <div class="row">
      <div class="four columns">
        <label for="location">Location</label>
        <input class="u-full-width" type="text" name="location" id="location">
      </div>
      <div class="four columns">
        <label for="assignment">Assignment</label>
        <input class="u-full-width" type="text" name="assignment" id="assignment" required>
      </div>
      <div class="four columns">
        <label for="question">Question</label>
        <input class="u-full-width" type="text" name="question" id="question" required>
      </div>
    </div>
    <div class="row">
      <input class="button-primary" type="submit" value="Submit">
      <a class="button" href="{{ url_for('index') }}">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
