{% import "macros.html" as macros with context %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="{{ course_name }} Queue">
    <meta name="keywords" content ="{{ course_name }}, Computer Science, CS, Office Hours, Project, Homework, Party, Parties, Queue" />
    <meta name="author" content="{{ course_name }} Course Staff">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% include "icons.html" %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">

    {{  macros.css_asset('style.css') }}

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>{{ course_name }} Queue</title>

    <script>
      window.courseName = "{{ course_name }}";
    </script>
  </head>
  <body>
    {% block header %}{% endblock %}
    {% block body %}{% endblock %}


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react-router/2.7.0/ReactRouter.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.16.0/polyfill.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/push.js/0.0.12/push.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/classnames/2.2.5/index.min.js"></script>

  <!-- Should be loaded before common.js -->
  <script src="https://cdn.ravenjs.com/3.12.0/raven.min.js" crossorigin="anonymous"></script>
  <script>
    {% if current_user.is_authenticated %}
      Raven.setUserContext({
        email: '{{ current_user.email }}',
        id: {{ current_user.id }},
      });
    {% endif %}
    Raven.config('https://58883f34f9e5457cbe973fe9cffb0ba7@sentry.cs61a.org/4').install();
  </script>
  <!-- App-specific JS -->
  {{  macros.js_asset('common.js') }}

  </body>
</html>
