<form id="help-form" action="{{ url_for('create') }}" method="post">
  <div class="row">
    <div class="three columns no-hide">
      <label for="location">Location</label>
      <select class="u-full-width" id="location" name="location">
        <option value="big-room">Main Room</option>
        <option value="b3a-evans">B3A Evans Lab</option>
        <option value="b3-aisles">B3 Evans Aisles</option>
        <option value="small-room">Small Room</option>
        <option value="tiny-room">Tiny Room</option>
      </select>
    </div>
    <div class="three columns no-hide">
      <label for="assignment">Assignment #</label>
      <input class="u-full-width" type="number" id="assignment" required>
    </div>
    <div class="three columns no-hide">
      <label for="question">Question #</label>
      <input class="u-full-width" type="number" id="question" required>
    </div>
  </div>
  <input class="button-primary" type="submit" value="Submit">
  <input id="cancel-form" class="button" type="button" value="Cancel">
</form>
