<form id="help-form" action="{{ url_for('add_entry') }}" method="post">
  <div class="row">
    <div class="three columns no-hide">
      <label for="name">Name</label>
      <input class="u-full-width" type="text" placeholder="John Doe" id="name" name="name">
    </div>

    <div class="three columns no-hide">
      <label for="sid">SID</label>
      <input class="u-full-width" type="number" placeholder="24616161" id="sid" name="sid">
    </div>

    <div class="three columns no-hide">
      <label for="location">Location</label>
      <select class="u-full-width" id="location" name="location">
        <option value="big-room">Big Room</option>
        <option value="small-room">Small Room</option>
        <option value="hallway">Hall Way</option>
      </select>
    </div>
    <div class="three columns no-hide">
      <label for="assignment_type">Type</label>
      <select class="u-full-width" id="assignment_type" name="assignment_type">
        <option value="lab">Lab</option>
        <option value="quiz">Quiz</option>
        <option value="project">Project</option>
        <option value="homework">Homework</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="three columns no-hide">
      <label for="assignment">Assignment</label>
      <input class="u-full-width" type="number" placeholder="1" id="assignment">
    </div>
    <div class="three columns no-hide">
      <label for="question">Question</label>
      <input class="u-full-width" type="number" placeholder="2" id="question">
    </div>

  </div>

  <br/>

  <input class="button-primary" type="submit" value="Submit">
  <input id="cancel-form" class="button" type="button" value="Cancel">
</form>
