<form id="help-form" action="{{ url_for('add_entry') }}" method="post">
  <div class="row">
    <div class="three columns no-hide">
      <label for="name">Name</label>
      <input class="u-full-width" type="text" placeholder="John Doe" id="name" name="name">
    </div>

    <div class="three columns no-hide">
      <label for="sid">SID</label>
      <input class="u-full-width" type="text" placeholder="24616161" id="sid" name="sid">
    </div>

    <div class="three columns no-hide">
      <label for="assignment">Assignment</label>
      <select class="u-full-width" id="assignment" name="assignment">
        <option value="Quiz 1">Quiz 1</option>
        <option value="HW 1">HW 1</option>
        <option value="Discussion">Discussion</option>
        <option value="Lecture">Lecture</option>
        <option value="Exam">Exam</option>
        <option value="Python">Python</option>
        <option value="Ok">Ok</option>
        <option value="Command Line">Command Line</option>
        <option value="Course Info">Course Info</option>
        <option value="Computer Science">Computer Science</option>
        <option value="Life">Life</option>
      </select>
    </div>
    <div class="three columns no-hide">
      <label for="question">Question</label>
      <select class="u-full-width" id="question" name="question">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="General">General</option>
      </select>
    </div>

  </div>

  <br/>

  <input class="button-primary" type="submit" value="Submit">
  <input id="cancel-form" class="button" type="button" value="Cancel">
</form>
