{% extends "default.html" %}
{% from "macros.html" import render_ticket with context %}
{% block body %}

<div class="queue-container container">
  <section class="header row">
    <div class="six columns">
      <h4><b>CS 61A</b> Office Hour Queue</h4>
    </div>
    <div class="five columns">
      {{ current_user.name }} ({{ current_user.email }})
    </div>
    <div>
    <div class="one columns">
      <a class="button" href="{{ url_for('auth.logout') }}">Log Out</a>
    </div>
  </section>

  <div class="column-headings">
    <div class="container u-full-width">
      <div class="row">
        <div class="two columns no-hide">Name</div>
        <div class="two columns">Queue Time</div>
        <div class="two columns">Location</div>
        <div class="two columns">Assignment</div>
        <div class="one columns">Question</div>
        <div class="three columns">Status</div>
      </div>
    </div>
  </div>

  <div class="queue" id="queue">
    {% for ticket in tickets %}
      {{ render_ticket(ticket) }}
    {% endfor %}
  </div>

  <a class="button btn-add-ticket title" href="{{ url_for('create') }}">
    request help
  </a>

</div>
<script src="{{ url_for('static', filename='js/client.js') }}"></script>
{% endblock %}
