{% extends "default.html" %}
{% from "macros.html" import render_ticket with context %}
{% block body %}

<div class="queue-container container">
  <section class="header row">
    <div class="seven columns">
      <h4><b>CS61A</b> Office Hour Queue</h4>
      <h6>Evans B4</h6>
    </div>
    <div class="five columns ta-info">
      <h6><b>CS61Awesome Staff</b></h6>
                        <h6>{{ date.strftime("%A, %B %d %Y") }}</h6>
    </div>
  </section>

  <div class="column-headings">
    <div class="container u-full-width">
      <div class="row">
        <div class="three columns no-hide">Name</div>
        <div class="three columns">Queue Time</div>
        <div class="two columns">Location</div>
        <div class="two columns">Assignment</div>
        <div class="two columns">Question</div>
      </div>
    </div>
  </div>

  <div class="queue" id="queue">
    {% for ticket in tickets %}
      {{ render_ticket(ticket, assist=true) }}
    {% endfor %}
  </div>

  <h4>Resolved</h4>
  <div class="queue" id="resolved"></div>

  <a class="button btn-add-ticket title" href="{{ url_for('create') }}">
    request help
  </a>

</div>
<script src="{{ url_for('static', filename='js/client.js') }}"></script>
{% endblock %}
