{% macro render_ticket(ticket) -%}
  <div class="queue-ticket row" id="queue-ticket-{{ ticket.id }}">
    <div class="two columns">{{ ticket.user.name }}</div>
    <div class="two columns">{{ ticket.created | datetime }}</div>
    <div class="two columns">{{ ticket.location }}</div>
    <div class="two columns">{{ ticket.assignment }}</div>
    <div class="one columns">{{ ticket.question }}</div>
    {% if ticket.status == TicketStatus.pending %}
        <div class="three columns staff-only"><button data-url="{{ url_for('assign', ticket_id=ticket.id) }}" class="event-btn">Help</button></div>
        <div class="three columns student-only">Queued</div>
    {% elif ticket.status == TicketStatus.assigned %}
        <div class="two columns hidden user-{{ ticket.helper_id }}-visible"><button data-url="{{ url_for('unassign', ticket_id=ticket.id) }}" class="event-btn">Put Back</button></div>
        <div class="one columns hidden user-{{ ticket.helper_id }}-visible"><button data-url="{{ url_for('resolve', ticket_id=ticket.id) }}" class="event-btn">Resolve</button></div>
        <div class="two columns user-{{ ticket.helper_id }}-hidden">Being helped by<br>{{ ticket.helper.name }}</div>
        <div class="one columns user-{{ ticket.helper_id }}-hidden staff-only">
            <button data-url="{{ url_for('assign', ticket_id=ticket.id) }}" class="reassign-btn">Reassign</button>
        </div>
    {% endif %}
  </div>
{%- endmacro %}
