{% macro render_ticket_row(ticket) -%}
<a class="row"
      id="queue-ticket-{{ ticket.id }}"
      href="{{ url_for('ticket', ticket_id=ticket.id) }}">
  <div class="col-md-2">{{ ticket.user.name }}</div>
  <div class="col-md-2">{{ ticket.created | datetime }}</div>
  <div class="col-md-2">{{ ticket.location }}</div>
  <div class="col-md-2">{{ ticket.assignment }}</div>
  <div class="col-md-2">{{ ticket.question }}</div>
  {% if ticket.status == TicketStatus.pending %}
    <div class="col-md-2">Queued</div>
  {% elif ticket.status == TicketStatus.assigned %}
    <div class="col-md-2 user-{{ ticket.helper_id }}-hidden">Being helped by {{ ticket.helper.name }}</div>
    <div class="col-md-2 hidden user-{{ ticket.helper_id }}-visible">Assigned to you</div>
  {% endif %}
</a>
{%- endmacro %}

{% macro render_ticket(ticket) -%}
<div id="ticket" class="container">
  <div class="row">
  <div class="row">Name: <span class="name">{{ ticket.user.name }}</span></div>
  <div class="row">Queue Time: <span class="created">{{ ticket.created | datetime }}</span></div>
  <div class="row">Location: <span class="location">{{ ticket.location }}</span></div>
  <div class="row">Assignment: <span class="assignment">{{ ticket.assignment }}</span></div>
  <div class="row">Question: <span class="question">{{ ticket.question }}</span></div>
  <div class="row">
  {% if ticket.status == TicketStatus.pending %}
    <div class="col-md-12">
      <button data-url="{{ url_for('assign', ticket_id=ticket.id) }}"
              class="btn staff-only">Help</button>
    </div>
    <div class="col-md-12">
      <button data-url="{{ url_for('delete', ticket_id=ticket.id) }}"
              data-confirm="Delete this ticket?"
              class="btn">Delete</button>
    </div>
  {% elif ticket.status == TicketStatus.assigned %}
    <div class="col-md-12 hidden user-{{ ticket.helper_id }}-visible">
      <button data-url="{{ url_for('unassign', ticket_id=ticket.id) }}">Requeue</button>
    </div>
    <div class="col-md-12 hidden user-{{ ticket.helper_id }}-visible">
      <button data-url="{{ url_for('resolve', ticket_id=ticket.id) }}">
        Resolve
      </button>
    </div>
    <div class="col-md-12 hidden user-{{ ticket.helper_id }}-visible">
      <button data-url="{{ url_for('resolve', ticket_id=ticket.id) }}"
              data-redirect="{{ url_for('next_ticket') }}">Resolve and Next</button>
    </div>
    <div class="col-md-12 user-{{ ticket.helper_id }}-hidden">Being helped by {{ ticket.helper.name }}</div>
    <div class="col-md-12 user-{{ ticket.helper_id }}-hidden staff-only">
        <button data-url="{{ url_for('assign', ticket_id=ticket.id) }}"
                data-confirm="Reassign this ticket?">Reassign</button>
    </div>
    <div class="col-md-12 user-{{ ticket.helper_id }}-hidden staff-only">
      <a href="{{ url_for('next_ticket') }}" class="button">Next Ticket</a>
    </div>
  {% elif ticket.status == TicketStatus.resolved %}
    <div class="col-md-12">Resolved</div>
    <div class="col-md-12 staff-only">
      <a href="{{ url_for('next_ticket') }}" class="button">Next Ticket</a>
    </div>
  {% elif ticket.status == TicketStatus.deleted %}
    <div class="col-md-12">Deleted</div>
    <div class="col-md-12 staff-only">
      <a href="{{ url_for('next_ticket') }}" class="button">Next Ticket</a>
    </div>
  {% endif %}
  </div>
</div>
{%- endmacro %}
