{% extends "default.html" %}
{% block body %}
<script src="{{ url_for('static', filename='js/client/student.js') }}"></script>

<div class="container ">
	<section class="header row">
		<div class="seven columns">
			<h4><b>CS61A</b> Office Hour Queue</h4>
			<h6>Evans B4</h6>
		</div>
		<div class="five columns ta-info">
			<h6><b>CS61Awesome Staff</b></h6>
			<h6 id="now-date"></h6>
		</div>
	</section>

	<div class="column-headings-spacer"></div>
	<nav class="column-headings">
		<div class="container u-full-width">
			<div class="row">
				<div class="three columns no-hide">Name</div>
				<div class="three columns">Queue Time</div>
				<div class="three columns">Location</div>
 				<div class="three columns">Type</div>
 				<div class="three columns">Assignment</div>
 				<div class="three columns">Question</div>
			</div>
		</div>
	</nav>

	<div id="queue">
		{% for entry in entries %}
		<div class="row queue-entry" id="queue-entry-{{ entry.id }}">
			<div class="three columns no-hide">{{ entry.name }}</div>
			<div class="three columns">{{ entry.add_date | datetime }}</div>
			<div class="three columns">{{ entry.location }}</div>
			<div class="three columns">{{ entry.assignment_type }}</div>
			<div class="three columns">{{ entry.assignment }}</div>
			<div class="three columns">{{ entry.question }}</div>
		</div>
		{% endfor %}
	</div>
</div>

<div id="help-form-container">
	<div class="container">
		{% include "form.html" %}
	</div>
</div>

<div id="add-entry" class="btn-add-entry title">
	<p>request help</p>
</div>
{% endblock %}
