/** CS 61A Office Hours Queue. */

h2 {
  border-bottom: none;
}

hr {
  background-color: transparent;
  border-top: 1px solid #eee;
}


.navbar-default,
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}
.navbar-default .navbar-nav > li > a {
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}


.jumbotron.blue {
  margin-top: 10px;
  background: #0072c1;
  background: linear-gradient(to bottom, #0072c1 0%,#acbfff 100%);
}
.jumbotron .btn-jumbo {
  font-size: 24px;
  padding: 6px 16px 10px;
  border-radius: 6px;
}

.page-header {
  border: none;
  color: #fff;
}

.input-group {
  width: 100%;
}

.request-form {
  margin-top: 20px;
}


.btn-outline {
  color: #fff;
  background-image: none;
  background-color: transparent;
  border-color: #fff;
}
.btn-outline:hover, .btn-outline:active {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.05);
}

.ticket {
  margin-top: 40px;
  margin-bottom: 40px;
}
