body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  padding-top: 50px;
  margin-bottom: 1em;
}

h1, h2, h3 {
  font-weight: normal;
}

h1:before, h2:before, h3:before, h4:before {
  content: " ";
  display: block;
  height: 60px;
  margin-top: -60px;
  visibility: hidden;
}

h2 {
    margin: 0;
}

hr {
  border-top: 1px solid #eee;
  height: 1px;
}

a:hover {
  text-decoration:none;
}

/* Queue styles */

.container,
.jumbotron .container {
  max-width: 970px;
}

.navbar-default,
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}
.navbar-default .navbar-nav > li > a {
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.jumbotron.blue {
  background: #0072c1;
  background: linear-gradient(to bottom, #0072c1 0%,#acbfff 100%);
}
.jumbotron .btn-jumbo {
  font-size: 24px;
  padding: 20px;
  border-radius: 6px;
}
.stub-jumbotron {
  padding-top: 24px;
}

.page-header {
  border: none;
  color: #fff;
}

.input-group {
  width: 100%;
}
.request-form .form-left {
  width: 60%;
  height: 100%;
}
.request-form .form-right {
  width: 40%;
  border-left: none;
}

.request-form {
  margin-top: 20px;
}

.jumbotron .btn {
  width: 100%;
}
.btn-outline {
  color: #fff;
  background-image: none;
  background-color: transparent;
  border-color: #fff;
}
.btn-outline:hover, .btn-outline:active {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.05);
}

.ticket {
  margin-top: 40px;
  margin-bottom: 40px;
}


.nav-tabs > .pulsating > a{
  -webkit-animation: pulse 1.6s ease-in-out infinite alternate;
  animation: pulse 1.6s ease-in-out infinite alternate;
  border-bottom-color: transparent;
}

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: aliceblue;
  }
}

@-webkit-keyframes pulse {
  0% {
    background: transparent;
  }
  50% {
    background: aliceblue;
  }
  100% {
    background: transparent;
  }
}
@keyframes pulse {
  0% {
    background: transparent;
  }
  50% {
    background: aliceblue;
  }
  100% {
    background: transparent;
  }
}

/* Queue (list of tickets) */

.queue {
  border: 1px solid #ddd;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ticket-row {
  border-top: 1px solid #eee;
}

.ticket-link:hover {
  background: #eee;
  transition: background 0.2s;
  cursor: pointer;
}

.ticket-highlight {
   background-color: #f3f3f3;
}

.ticket-index {
  margin: 12px;
  width: 20px;
  font-size: 11px;
  color: #999;
}

.ticket-status-md {
  padding-right: 12px;
}

.ticket-status-xs {
  margin-top: 6px;
}

.no-results {
  padding: 100px 60px;
  text-align: center;
  background-color: #fafafa;
}

.no-results h4 {
  word-wrap: break-word;
  white-space: normal;
}

.group-actions {
  background-color: #f8f8f8;
  padding: 10px;
}

.group-actions .btn {
  margin-left: 10px;
  height: 34px;
}

.group-actions p {
  margin: 0;
  height: 34px;
  line-height: 34px;
  font-weight: 400;
  color: #777;
}

/* Navbar colors */

.navbar-default {
  background-color: #0072c1;
  border-color: #0085e1;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #0085e1;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #0085e1;
}
.navbar-default .navbar-toggle {
  border-color: #0085e1;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #0085e1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #0085e1;
  }
}

/* Mostly stolen from offline.js */

.offline {
  text-align: center;
  min-height: 50px;
  max-width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 2000;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
}

.offline-down:after {
  -webkit-animation: offline-rotation 0.7s linear infinite;
  animation: offline-rotation 0.7s linear infinite;
  -webkit-backface-visibility: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: " ";
  display: block;
  position: absolute;
  right: 1em;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1em;
  width: 1em;
  border: 2px solid rgba(0, 0, 0, 0);
  border-top-color: #7c6d1f;
  border-left-color: #7c6d1f;
  opacity: 0.7;
}

.offline-down {
  background: #f8ecad;
  color: #7c6d1f;
  opacity: 100;
  transition: opacity 0.5s;
}

.offline-up {
  background: #d6e9c6;
  color: #468847;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
  transition-delay: 2s;
  visibility: hidden;
}

.offline-content {
  line-height: 20px;
  padding: 15px;
}

@-webkit-keyframes offline-rotation {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}

@-keyframes offline-rotation {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}

/* Queue tabs */

@media (max-width: 768px) {
  .filter-field {
    margin-bottom: 16px;
  }
  .filter-field:last-of-type {
    margin-bottom: 0;
  }
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a  {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    margin-bottom: 0;
  }
  .nav-tabs.nav-justified > li:first-child > a,
  .nav-tabs.nav-justified > .active:first-child > a,
  .nav-tabs.nav-justified > .active:first-child > a:hover,
  .nav-tabs.nav-justified > .active:first-child > a:focus {
    border-left-color: #fff;
    border-top-left-radius: 0;
  }
  .nav-tabs.nav-justified > li:last-child > a,
  .nav-tabs.nav-justified > .active:last-child > a,
  .nav-tabs.nav-justified > .active:last-child > a:hover,
  .nav-tabs.nav-justified > .active:last-child > a:focus {
    border-right-color: #fff;
    border-top-right-radius: 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
  .tabs-container .tabs {
    padding: 0;
  }
  .queue {
    border-left-color: #fff;
    border-bottom-left-radius: 0;
    border-right-color: #fff;
    border-bottom-right-radius: 0;
  }
}


