body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  padding-top: 40px;
  margin-bottom:5em;
}

h1, h2, h3 {
  font-weight: normal;
}

h1:before, h2:before, h3:before, h4:before {
  content: " ";
  display: block;
  height: 60px;
  margin-top: -60px;
  visibility: hidden;
}

h2 {
  border-bottom: 1px solid #0072c1;
}

hr {
  background-color: #0072c1;
  border: 0;
  height: 1px;
}

.content-title-brand {
  color:#0072c1;
}

li p {
  margin:0 0;
}

a:hover {
  text-decoration:none;
}

blockquote {
  background-color:#e6f3ff;
  border-left:solid #0072c1;
  font-size:inherit;
}



/* Code */

pre code {
  word-wrap: normal;
  white-space: pre;
}

code {
  color: #0072c1;
}

.date {
  color: #0072c1;
}

#assignment-quick-list, .announcement {
  width:90%;
  margin-left:auto;
  margin-right:auto;
}

.announcement {
  display: none;  /* Hide on load */
}

.announcement > ul{
  text-align:left;
}


.quick-list-item {
  background-color:#e6f3ff;
  border-left:solid #0072c1;
  color:black;
  margin:10px 0;
  min-height:100px;
  padding:10px;
}

.quick-list-item:hover {
  background-color:#CAE1FF;
}

.quick-list-item > hr {
  margin:5px 0;
}

/* Used to make quick-list divs behave as hyperlinks */
span.quick-list-item-link {
  position: absolute;
  width:100%;
  min-height:100px;
  top:0;
  left:0;
}

.tutoring-quick-list-item {
  margin:0;
  font-size:20px;
}

/* If calendar isn't responsive, this is why. */
#calendar-wrapper {
  overflow-x: visible;
}

table#calendar {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

table#calendar th {
  color: #0072c1;
  text-align:center;
  border-top: none;
  vertical-align: middle;
}

table#calendar td {
  border: 1px solid #fff;
  padding: 5px;
  vertical-align: middle;
}

table#calendar tr:not(:first-child) {
  background-color: #c1d6e3;
}

table#calendar td.weeknum {
  text-align: center;
}

table#calendar td.reading ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table#calendar td.even {
  background-color:#B0C4DE;
}

table#calendar tr:hover td:not(.weeknum) {
  background-color:#B0C4DE;
}


div.footer {
  width: 100%;
  text-align: center;
  font-size: .8em;
  margin: 1em;
}

div.staffer {
  text-align: center;
  margin: 1em 0;
}

img.staffer-image {
  height: 150px;
  width: 150px;
  margin: 0 0 10px;
}

/* midterm pages */
table.lined {
  border: 2px solid;
  border-collapse: collapse;
}

table.lined td {
  border-bottom: 2px solid;
  border-right: 1px solid;
  padding: 5px 20px;
}

.head {
  background-color: white;
  height: 100%;
  width: 14em;
  max-width: 200px;
  padding: 20px;
  position: fixed;
  overflow: auto;
}

.head h1 {
  margin: 0;
}

/* Navbar colors */

.navbar-default {
  background-color: #0072c1;
  border-color: #0085e1;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #0085e1;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #0085e1;
}
.navbar-default .navbar-toggle {
  border-color: #0085e1;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #0085e1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #0085e1;
  }
}

/* Announcement Pager */

.announcement-btn-older:hover, .announcement-btn-newer:hover {
  cursor: pointer;
}

/* Sidebar */

.sidebar {
  position: fixed;
  top: 80px;
  overflow-y:auto;
  height:80%;
}

.sidebar > ul > li > a {
  padding: 1px 10px;
}

.sidebar > ul > ul > li > a {
  margin-left: 20px;
  padding: 1px 10px;
}

.sidebar > ul > ul > ul > li > a {
  margin-left: 40px;
  padding: 1px 10px;
}

.sidebar > ul > ul > ul > ul > li > a {
  margin-left: 60px;
  padding: 1px 10px;
}

.sidebar li > a:hover {
  background-color: transparent;
}

.sidebar a:visited {
  color: steelblue;
}

.sidebar li.active {
  background-color: #0072c1;
}

.sidebar li.active a {
  color: #fff;
}

/* Resources search */

#resources-description {
  font-size: 2em;
  text-align: center;
}

#resources-display {
  display: none;
}

#resources-input {
  text-align:center
}

#resources-input > input {
  font-size: 1.5em;
  margin: 20px;
  padding: 10px;
  width: 50%;
}

#resources-display th > button {
  width: 100%;
}

.composition-version {
  height:100%;
}
